body {
   width:100% px;
    margin: auto;
    background-color: black;
    border: dotted;     
    
    background: url(../WEB-INF/ conversion1.jpg);    
    background-size: cover;
        
}
@media screen and (min-width: 600px) {
  
  body {
      
  }
}

h1 {
    background-color: darkblue;
    color: white;
    text-align: center;  
}

nav li {
    display: inline-block;
    padding: 5px;   
}

.menuSuperior {   
    font-size: xx-large;   
}